.Landing {
  background-color: #233237;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 50px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

#landingLogo {
  margin-top: 50px;
  margin-bottom: 20px;
  width: 300px; }

#landingTitle {
  font-family: "Exo 2", sans-serif;
  font-size: 30px;
  letter-spacing: 2px;
  color: #EAC67A;
  font-weight: bold;
  transition: all 1s; }
  #landingTitle:hover {
    color: #984B43; }

#landingGif {
  width: 300px; }

.landingTextWrapper {
  width: 90%;
  margin-bottom: 50px; }

#landingText {
  line-height: 30px; }

.buttonBox {
  width: 300px;
  height: 150px;
  background-color: #EAC67A;
  border-radius: 10px;
  margin-bottom: 50px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.landingBtn {
  line-height: 60px;
  width: 250px;
  border-radius: none;
  border: none;
  background-color: #EAC67A;
  font-size: 20px;
  letter-spacing: 2px;
  color: #233237;
  transition: all 1s; }
  .landingBtn:hover {
    color: #984B43; }

#loginBtn {
  margin-top: 7px;
  border-bottom: 1px solid #af9252; }

.footer {
  position: relative;
  height: 50px;
  width: 100%; }

#landingCopyrightText {
  position: absolute;
  width: 100%;
  line-height: 40px;
  font-size: 15px;
  text-align: center;
  bottom: 0; }

body {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  background-color: #18121E;
  color: #FFFFFF; }
